/* Styling Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: url("") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px; /* Adjust width to 100% on smaller screens */
  margin: auto;
  padding: 20px;
  background: white;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Left Content */
.left-content {
  flex: 1;
  padding-right: 20px;
}

h1 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #007BFF;
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

/* QR Code Display */
#qrcode {
  text-align: center;
  margin-top: 20px;
}

#qrcode canvas {
  margin: 20px auto;
  display: block;
}

#qrcode .button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#qrcode .button-group button {
  margin-top: 10px;
  padding: 12px 24px;
  width: 80%;
  max-width: 250px;
  background-color: #6c5ce7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#qrcode .button-group button:hover {
  background-color: #5a4cc0;
}

/* Footer */
.footer {
  background-color: #0056b3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer .menu-item {
  color: white;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  transition: color 0.3s;
}

.footer .menu-item.active {
  color: #ffdf00;
}

.footer .menu-item i {
  font-size: 20px;
}

.footer .menu-item span {
  display: block;
  margin-top: 5px;
  font-size: 14px;
}

.menu-item:hover {
  color: #D3D3D3;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #0056b3;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* Logo Container */
.logo-img {
  width: 40px;
}

/* Menu Items */
.menu-icons {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}

.menu-icons i {
  font-size: 20px;
  color: #ffff;
  cursor: pointer;
  transition: color 0.3s;
}

.menu-icons i:hover {
  color: #adadad;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 20px;
  }

  input, textarea {
    padding: 12px;
    font-size: 16px;
  }

  button {
    padding: 12px 24px;
    font-size: 16px;
  }

  .footer {
    display: flex;
  }

  #qrcode .button-group button {
    width: 100%; /* Full width for buttons on small screens */
  }

  #qrcode canvas {
    width: 100%; /* Make canvas responsive */
  }
}
